<div [@routerTransition]>
    <app-page-header [heading]="'Triage'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <!--PRIMERA PREGUNA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>El niño tiene Dificultad para respirar?</label>
                    <div class="radio">
                        <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI1" />SI </label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO1" /> NO</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- SEGUNDA PREGUNA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group2">
                    <label>El niño respira más rapido que lo habitual?</label>
                    <div class="radio">
                        <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI2" />SI</label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO2" />NO</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--TRECERA PREGUNDA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>Al niño se le hunden las costillas?</label>
                    <div class="radio">
                        <label><input checked="" id="optionsRadiosS3" name="optionsRadios" type="radio" value="SI3" />SI</label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO3" />NO</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--4TA PREGUNDA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>El niño ha tenido fiebre?</label>
                    <div class="radio">
                        <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI4" />Si</label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO4" />No</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--5TA PREGUNDA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>El niño esta comiendo normal?</label>
                    <div class="radio">
                        <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI5" />Si</label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO5" />No</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--6TO PREGUNDA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>El niño ha vomita lo que come?</label>
                    <div class="radio">
                        <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI6" />Si</label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO6" />No</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- 7MA PREGUNTA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>El niño Tiene sueño todo el dia?</label>
                    <div class="radio">
                         <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI7" />Si</label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO7" />No</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--8VA PREGUNTA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>Al niño lo ve deshidratado?</label>
                        <div class="radio">
                            <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI8" />Si</label>
                        </div>
                        <div class="radio">
                            <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO8" />No</label>
                        </div>
                </fieldset>
            </form>
        </div>
        <!--9NA PREGUNTA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                <label>El niño ha tenido diarrea?</label>
                    <div class="radio">
                        <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI9" />Si</label>
                    </div>
                    <div class="radio">
                        <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO9" />No</label>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--10MA PREGUNTA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                <label>El niño ha estado irritable?</label>
                <div class="radio">
                    <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI10" />Si</label>
                </div>
                <div class="radio">
                    <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO10" />No</label>
                </div>
                </fieldset>
            </form>
        </div>
        <!-- 11VA PREGUNTA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                <label>El niño duerme bien?</label>
                <div class="radio">
                    <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI11" />Si</label></div>
                <div class="radio">
                    <label><input id="optionsRadios" name="optionsRadios" type="radio" value="NO11" />No</label>
                 </div>
                </fieldset>
            </form>
        </div>
        <!--12VA PREGUNTA-->
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                <label>El niño tiene dolor abdominal?</label>
                <div class="radio">
                        <label><input checked="" id="optionsRadios" name="optionsRadios" type="radio" value="SI12" />Si</label>
                </div>
                <div class="radio">
                <label>
                    <input id="optionsRadios" name="optionsRadios" type="radio" value="NO12" />No
                </label>
                </div>
                <input type="submit" value="Enviar este formulario" />
                </fieldset>
            </form>
             
                <p> Formulario realizado por:</p>
                    Angela Maria Alfonso Daza 
                    Medico general de la  Universidad de Boyaca.
                    8 años de experiencia en servicio de  urgencias de primer y segundo nivel Y 2 años de experiencia en servicio maternoperinatal.
                    Trabaja actualmente en el hospital de aguazul y yopal.
        </div>
      
    </div>
    <!-- /.row -->
</div>
