<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Datos basicos
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Segundo nombre</th>
                                <th>Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Daniel</td>
                                <td>    </td>
                                <td>Leon Diaz</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Sara</td>
                                <td>Camila</td>
                                <td>Rincon Pinzon</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Inverse table</div>
                <div class="card-body table-responsive">
                    <table class="table table-inverse">
                        <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Altura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Daniel</td>
                            <td>68 kg</td>
                            <td>90 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Camila </td>
                            <td>51 kg</td>
                            <td>60 cm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
