<div [@routerTransition]>
    <app-page-header [heading]="'Informacion'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row"  id="contenedor">
        <div class="col col-sm-6">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pacientes
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="./charts.component.html">Hijo 1</a>
                  <a class="dropdown-item" href="./charts.component.html">Hijo 2</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                Total De Consultas
                </div>
                <div class="card-body">
                    <canvas
                        (chartClick)="chartClicked($event)"
                        (chartHover)="chartHovered($event)"
                        [chartType]="barChartType"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [legend]="barChartLegend"
                        [options]="barChartOptions"
                        baseChart
                    >
                    </canvas>
                </div>
                <div class="card-footer">
                    <button (click)="randomize()" class="btn btn-info btn-sm">actulizar</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    linea de progreso de los paciente
                </div>
                <div class="card-body">
                    <canvas
                        (chartClick)="chartClicked($event)"
                        (chartHover)="chartHovered($event)"
                        [chartType]="lineChartType"
                        [colors]="lineChartColors"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [legend]="lineChartLegend"
                        [options]="lineChartOptions"
                        baseChart
                        height="180"
                    >
                    </canvas>
                </div>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Porcetaje de Citas 
                </div>
                <div class="card-body">
                    <canvas
                        (chartClick)="chartClicked($event)"
                        (chartHover)="chartHovered($event)"
                        [chartType]="doughnutChartType"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        baseChart
                        height="180px"
                    >
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    porcentajes de citas de control 
                </div>
                <div class="card-body">
                    <canvas
                        (chartClick)="chartClicked($event)"
                        (chartHover)="chartHovered($event)"
                        [chartType]="pieChartType"
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        baseChart
                        height="180px"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
