<div [@routerTransition]>
    <app-page-header [heading]="'Agendar cita'" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <div class="page-header">
        <h1>EPS</h1>
        <hr />
    </div>
    
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Compensar</div>
                    <div class="card-body"><a href="https://www.compensar.com/salud/">Visitar</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">EPS Sanitas</div>
                    <div class="card-body"><a href="https://www.epssanitas.com/usuarios/web/nuevo-portal-eps#gsc.tab=0">Visitar</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Famisanar EPS</div>
                 <div class="card-body"><a href="https://www.famisanar.com.co/">Visitar</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Salud Total EPS</div>
                <div class="card-body"><a href="https://saludtotal.com.co/">Visitar</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
              <div class="card-header">Sura EPS</div>
                <div class="card-body"><a href="https://www.epssura.com/">Visitar</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
              <div class="card-header">Nueva EPS</div>
                <div class="card-body"><a href="https://www.nuevaeps.com.co/">Visitar</a></div>
            </div>
        </div>   
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
              <div class="card-header">Coomeva EPS</div>
                <div class="card-body"><a href="http://eps.coomeva.com.co/">Visitar</a></div>
            </div>
        </div> 
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Nueva EPS</div>
                <div class="card-body"><a href="https://www.nuevaeps.com.co/">Visitar</a></div>
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Cruz Blanca EPS</div>
                <div class="card-body"><a href="https://www.cruzblanca.com.co/">Visitar</a></div>
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Aliansalud EPS</div>
                <div class="card-body"><a href="https://www.aliansalud.com.co/Paginas/default.aspx">Visitar</a></div>
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Medimás EPS</div>
                <div class="card-body"><a href="https://medimas.com.co/">Visitar</a></div>
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Coosalud EPS</div>
                <div class="card-body"><a href="https://coosalud.com/">Visitar</a></div>
            </div> 
        </div>
    </div>
</div>  
       
    

